<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.datepicker"
    version="0.1">

    <name>DatePicker</name>
    <description>Cordova DatePicker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,datePicker</keywords>

    <js-module src="www/datePicker.js" name="datePicker">
        <merges target="navigator.datePicker" />
    </js-module>

    

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DatePickerPlugin">
                <param name="android-package" value="org.apache.cordova.datepicker.DatePickerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DatePickerPlugin.java" target-dir="src/org/apache/cordova/datepicker" />
 
    </platform>

     
</plugin>
